@media (max-width: 800px) {
  #header {
    .container {
      display: grid;
      // justify-content: center;
    }

    #left-one {
      img {
        display: none;
      }
    }

    #right-one {
      display: none;
    }
  }

  #section-a {
    background: $background-color;
    .container {
      img {
        width: 60%;
        height: 30%;
        margin: 2rem 0;
        padding-left: 1rem;
        padding-right: 1.4rem;
      }
    }
  }
  #navbar {
    ul {
      margin-left: 1rem;
    }
  }
  #section-b {
    #wrapper {
      display: flex;
      justify-content: space-between;
      grid-gap: 1rem;

      #aside-left {
        grid-template-rows: 1fr 1fr;
        textarea {
          width: 100%;
        }
      }

      #main-articles {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;

        .image-article {
          width: 40%;
          height: 50%;
        }

        & > *:first-child {
          grid-column: 1;

          h1 {
            padding-bottom: 1rem;
          }
          p {
            padding-bottom: 1rem;
            width: 40%;
          }
        }
        & > *:last-child {
          grid-column: 1;
          margin-top: 1rem;
          width: 35%;
          height: 35%;
        }
        & > *:nth-child(3) {
          margin-bottom: 2rem;
        }
        & > *:nth-child(4) {
          margin-bottom: 2rem;
        }
        & > *:nth-child(2),
        & > *:nth-child(3),
        & > *:nth-child(4),
        & > *:nth-child(5) {
          h2 {
            padding-bottom: 1rem;
          }

          p {
            width: 40%;
          }
        }

        & > *:nth-child(5) {
          padding-top: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #header {
    .container {
      display: grid;
      // justify-content: center;
    }

    #left-one {
      img {
        display: none;
      }
    }

    #right-one {
      display: none;
    }
  }

  #section-a {
    background: $background-color;
    img {
      width: 45%;
      height: 30%;
      margin: 2rem 0;
      padding-left: 1rem;
      padding-right: 1.4rem;
    }
  }
  #section-b {
    #wrapper {
      display: flex;
      justify-content: space-between;
      grid-gap: 1rem;

      #aside-left {
        grid-template-rows: 1fr 1fr;
        width: 40%;
        textarea {
          width: 100%;
        }
      }

      #main-articles {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;

        div {
          width: 70%;
        }

        .image-article {
          width: 40%;
          height: 40%;
        }

        & > *:first-child {
          grid-column: 1;

          h1 {
            padding-bottom: 1rem;
          }
          p {
            padding-bottom: 1rem;
            width: 40%;
          }
        }
        & > *:last-child {
          grid-column: 1;
          margin-top: 1rem;
          width: 55%;
          height: 55%;
        }
        & > *:nth-child(2) {
          margin-bottom: 3rem;
        }
        & > *:nth-child(3) {
          margin-bottom: 3rem;
        }
        & > *:nth-child(4) {
          margin-bottom: 4rem;
        }
        & > *:nth-child(2),
        & > *:nth-child(3),
        & > *:nth-child(4),
        & > *:nth-child(5) {
          h2 {
            padding-bottom: 1rem;
          }

          p {
            width: 40%;
          }
        }

        & > *:nth-child(5) {
          padding-top: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  #header {
    .container {
      display: grid;
      // justify-content: center;
    }

    #right-one {
      display: none;
    }
  }

  #section-a {
    background: $background-color;
    .container {
      img {
        width: 84%;
        height: 30%;
        margin: 2rem 0;
        padding-left: 1rem;
        padding-right: 1.4rem;
      }
    }
  }
  #navbar {
    ul {
      margin-left: 1rem;
    }
  }
  #section-b {
    #wrapper {
      display: flex;
      justify-content: space-between;
      grid-gap: 2rem;

      #aside-left {
        grid-template-rows: 1fr 1fr;
        textarea {
          width: 100%;
        }
      }

      #main-articles {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        .image-article {
          width: 60%;
          height: 50%;
        }

        & > *:first-child {
          grid-column: 1;

          h1 {
            padding-bottom: 1rem;
          }
          p {
            padding-bottom: 1rem;
            width: 60%;
          }
        }
        & > *:last-child {
          grid-column: 1;
          margin-top: 1rem;
          width: 60%;
          height: 35%;
        }
        & > *:nth-child(3) {
          margin-bottom: 2rem;
        }
        & > *:nth-child(4) {
          margin-bottom: 2rem;
        }
        & > *:nth-child(2),
        & > *:nth-child(3),
        & > *:nth-child(4),
        & > *:nth-child(5) {
          h2 {
            padding-bottom: 1rem;
          }

          p {
            width: 60%;
          }
        }

        & > *:nth-child(5) {
          padding-top: 0.5rem;
        }
      }
    }
  }
}
