.container {
  width: $website-width;
  padding: 0 2rem;
  overflow: hidden;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.image-article {
  width: 100%;
  height: 45%;
}

.btn {
  width: 70%;
  padding: 0.8rem;
  background: #44b840;
  font-weight: bold;
}
