@import 'config';
@import 'utilities';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: $white-color; }

#header {
  background: $white-color;
  margin: auto;
  padding: 0 1rem;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;


    & #left-one {
      display: flex;
      justify-content: center;
      align-items: center;

      .lead {
        font-size: 3rem;
        font-family: cursive;
      }

      p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }

      img {
        width: 13rem;
        height: 10rem;
      }
    }

    & #right-one {   
      // margin-top: .8rem;
      p {
        margin-bottom: .5rem;
      }
    }
  }
}

#navbar {
  background: black;
  color: $white-color;
  padding: .4rem 0;

  .contact {
    display: flex;

    li {
      margin-right: 2rem;

      a {
        font-size: 1.5rem;
        color: rgba(240, 255, 255, 0.445);

        &:hover {
          color: $white-color;
        }
      }
    }
  }
}

#section-a {
  background: $background-color;
  img {
    width: 100%;
    height: 50%;
    margin: 2rem 0;
  }
}

#section-b {
  background: $white-color;
  padding: 3rem 0;

  #wrapper {
    display: flex;
    justify-content: space-between;
    grid-gap: 2rem;

    #aside-left {
      display: grid;
      grid-template-rows: 1.5fr 1fr;
      margin-right: 2rem;



      h2 {
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 2rem;
      }
      input[type="text"] {
        display: block;
        margin-bottom: .6rem;
        width: 100%;
        padding: .5rem 0;
      }
      textarea {
        margin-bottom: .8rem;
      }
      #day-tea .teaday {
        border: 2px solid rgb(109, 108, 108);

        img {
          padding-left: 1rem;
        }
      }
    }

    #main-articles {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;

      & >*:first-child {
        grid-column: 1 / span 3;

        h1 {
          padding-bottom: 2rem;
        }
        p {
          padding: 1rem 0;
        }
      }
      & >*:last-child {
        grid-column: 2 / span 2;
        padding-top: 2rem;
      }
      & >*:nth-child(2),
      & >*:nth-child(3),
      & >*:nth-child(4), 
      & >*:nth-child(5) {

        h2 {
          padding-bottom: 2rem;
        }
      }

      & >*:nth-child(5) {
        padding-top: 2.5rem;
      }
    }
  }
}

@import 'media';

